<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.ggkt.vod.mapper.FilesMapper">
    <resultMap id="BaseResultMap" type="com.atguigu.ggkt.vod.domain.Files">
        <!--@Table -->
        <result property="id" column="id"/>
        <result property="path" column="path"/>
        <result property="name" column="name"/>
        <result property="type" column="type"/>
        <result property="url" column="url"/>
        <result property="userName" column="user_name"/>
        <result property="secret" column="secret"/>
        <result property="title" column="title"/>
        <result property="star" column="star"/>
        <result property="author" column="author"/>
        <result property="info" column="info"/>
        <result property="avatar" column="avatar"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="volume"    column="volume"    />
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="BaseResultMap">
        select
        *

        from files
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="BaseResultMap">
        select
        *

        from files where secret is null
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="BaseResultMap">
        select
        *

        from files
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="path != null and path != ''">
                and path = #{path}
            </if>
            <if test="name != null and name != ''">
                and name = #{name}
            </if>
            <if test="type != null and type != ''">
                and type = #{type}
            </if>
            <if test="url != null and url != ''">
                and url = #{url}
            </if>
            <if test="userName != null and userName != ''">
                and user_name = #{userName}
            </if>
            <if test="secret != null and secret != ''">
                and secret = #{secret}
            </if>
            <if test="title != null and title != ''">
                and title = #{title}
            </if>
            <if test="star != null and star != ''">
                and star = #{star}
            </if>
            <if test="author != null and author != ''">
                and author = #{author}
            </if>
            <if test="info != null and info != ''">
                and info = #{info}
            </if>
            <if test="avatar != null and avatar != ''">
                and avatar = #{avatar}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>

            <if test="volume != null  and volume != ''"> and volume = #{volume}</if>

        </where>
    </select>


    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into files(
        <if test="path != null  and path != ''">  path,</if>
        <if test="name != null  and name != ''">  name,</if>
        <if test="type != null  and type != ''">  type,</if>
        <if test="url != null  and url != ''">  url,</if>
        <if test="userName != null  and userName != ''">  user_name,</if>
        <if test="secret != null  and secret != ''">  secret,</if>
        <if test="title != null  and title != ''">  title,</if>
        <if test="star != null  and star != ''">  star,</if>
        <if test="author != null  and author != ''">  author,</if>
        <if test="info != null  and info != ''">  info,</if>
        <if test="avatar != null  and avatar != ''">  avatar,</if>
        <if test="volume != null  and volume != ''">  volume,</if>
        create_time
        )values(
        <if test="path != null  and path != ''">  #{path},</if>
        <if test="name != null  and name != ''">  #{name},</if>
        <if test="type != null  and type != ''">  #{type},</if>
        <if test="url != null  and url != ''">  #{url},</if>
        <if test="userName != null  and userName != ''">  #{userName},</if>
        <if test="secret != null  and secret != ''">  #{secret},</if>
        <if test="title != null  and title != ''">  #{title},</if>
        <if test="star != null  and star != ''">  #{star},</if>
        <if test="author != null  and author != ''">  #{author},</if>
        <if test="info != null  and info != ''">  #{info},</if>
        <if test="avatar != null  and avatar != ''">  #{avatar},</if>

        <if test="volume != null  and volume != ''">  #{volume},</if>
        now()
        )
    </insert>

    <delete id="deleteByName" parameterType="java.lang.String">
        delete from files
        where name = #{name,jdbcType=VARCHAR}
    </delete>

    <!--通过主键修改数据-->
    <update id="update">
        update files
        <set>
            <if test="path != null and path != ''">
                path = #{path},
            </if>
            <if test="name != null and name != ''">
                name = #{name},
            </if>
            <if test="type != null and type != ''">
                type = #{type},
            </if>
            <if test="url != null and url != ''">
                url = #{url},
            </if>
            <if test="userName != null and userName != ''">
                user_name = #{userName},
            </if>
            <if test="secret != null and secret != ''">
                secret = #{secret},
            </if>
            <if test="title != null and title != ''">
                title = #{title},
            </if>
            <if test="star != null and star != ''">
                star = #{star},
            </if>
            <if test="author != null and author != ''">
                author = #{author},
            </if>
            <if test="info != null and info != ''">
                info = #{info},
            </if>
            <if test="avatar != null and avatar != ''">
                avatar = #{avatar},
            </if>

            <if test="updateTime != null">
                update_time = now(),
            </if>
            <if test="volume != null  and volume != ''">  volume = #{volume},</if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from files where id = #{id}
    </delete>
</mapper>


